{# templates/edit-client.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier le Client{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Modifier le Client</h1>

        {{ form_start(formClient) }}
        
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(formClient.compteAffaire, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.compteEvenement, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.compteDernierEvenement, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.numeroFiche, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.libelleCivilite, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.propActuelVehicule, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.numNomVoie, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.complementAdress, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.codePostal, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.ville, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.telDomicile, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.telPortable, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.telJob, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(formClient.dateMiseEnCirc, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.dateAchat, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.dateDerniereEvenement, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.libelleMarque, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.libelleModele, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.version, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.vin, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.immatriculation, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.typeProspect, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.kilometrage, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.libelleEnergie, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.vendeurVn, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.vendeurVo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.commentaireFacturation, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.typeVnVo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.numeroDossier, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(formClient.intermediaireVente, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.dateEvenement, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formClient.origineEvenement, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                {{ form_row(formClient.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_end(formClient) }}
    </div>
{% endblock %}
