{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row title">
            <h1 class="text-primary">Liste des clients</h1>
        </div>
        <div class="row mx-5 d-flex justify-content-center align-items-center">
            <h2 class="text-center text-secondary">Télecharger un fichier</h2>
            <div class="form-container">
                {{ form_start(form, {
                        'attr' : {
                            'id' : 'form_import_excel'
                        }
                    }) 
                }}
                    <img src="{{ asset('images/excel.png')}}" style="width: 50px" alt="excel">
                    {{ form_widget(form.file) }}

                    <div class="form-error">
                        {{ form_errors(form.file) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm my-3">
                        Importer
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="mx-5 my-2">
            <a href="{{path('app_add_client')}}" class="btn btn-primary">Ajouter un nouveau client</a>
        </div>
        <div class="row mx-5">
            <div class="scrollable-datatable">
                <table id="tableau-client" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Compte affaire</th>
                            <th>Compte évènement</th>
                            <th>Compte dernière évènement</th>
                            <th>N° Fiche</th>
                            <th>Libellé civilité</th>
                            <th>Prop actuel du véhicule</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>N° et nom de la voie</th>
                            <th>Complément adresse 1</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Tél domicile</th>
                            <th>Tél portable</th>
                            <th>Tél job</th>
                            <th>Email</th>
                            <th>Date de mise en circulation</th>
                            <th>Date achat (date de livraison)</th>
                            <th>Date dernier évènement(Veh)</th>
                            <th>Libéllé marque(Mrq)</th>
                            <th>Libéllé modèle (Mod)</th>
                            <th>Version</th>
                            <th>VIN</th>
                            <th>Immatriculation</th>
                            <th>Type prospect</th>
                            <th>Kilometrage</th>
                            <th>Libéllé énergie(Energ)</th>
                            <th>Vendeur VN</th>
                            <th>Vendeur VO</th>
                            <th>Commentaire de facturation (Veh)</th>
                            <th>Type VN VO</th>
                            <th>N° de dossier VN VO</th>
                            <th>Intermediaire de vente VN</th>
                            <th>Date évènement (Veh)</th>
                            <th>Origine évènement (Veh)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Compte affaire</th>
                            <th>Compte évènement</th>
                            <th>Compte dernière évènement</th>
                            <th>N° Fiche</th>
                            <th>Libellé civilité</th>
                            <th>Prop actuel du véhicule</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>N° et nom de la voie</th>
                            <th>Complément adresse 1</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Tél domicile</th>
                            <th>Tél portable</th>
                            <th>Tél job</th>
                            <th>Email</th>
                            <th>Date de mise en circulation</th>
                            <th>Date achat (date de livraison)</th>
                            <th>Date dernier évènement(Veh)</th>
                            <th>Libéllé marque(Mrq)</th>
                            <th>Libéllé modèle (Mod)</th>
                            <th>Version</th>
                            <th>VIN</th>
                            <th>Immatriculation</th>
                            <th>Type prospect</th>
                            <th>Kilometrage</th>
                            <th>Libéllé énergie(Energ)</th>
                            <th>Vendeur VN</th>
                            <th>Vendeur VO</th>
                            <th>Commentaire de facturation (Veh)</th>
                            <th>Type VN VO</th>
                            <th>N° de dossier VN VO</th>
                            <th>Intermediaire de vente VN</th>
                            <th>Date évènement (Veh)</th>
                            <th>Origine évènement (Veh)</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title d-flex justify-content-between" id="clientModalLabel">
                        Voulez-vous vraiment supprimer cette ligne ?
                    </h5>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <a type="button" id="delete_client" class="btn btn-danger">Supprimer</a>
                    <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("#closeModal").click(function(){
                $('#clientModal').modal('hide')
            })
            
            let clientId = null;
            $(document).on('click', '.delete_client', function(){
                clientId = $(this).attr('data-id')
                $('#clientModal').modal('show')
            })
            $(document).on('click', '#delete_client', function(){
                $('#clientModal').modal('hide')
                location.href = "/delete/client/" + clientId;
            })
            new DataTable('#tableau-client', {
                scrollX: true,
                autoWidth: true,
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
                },
                "ajax" : {
                    url : "/load/client",
                    type : 'GET',
                    "dataSrc":"",

                },
                columns: [
                    { data: 'compte_affaire' },
                    { data: 'compte_evenement' },
                    { data: 'compte_dernier_evenement' },
                    { data: 'numero_fiche' },
                    { data: 'libelle_civilite' },
                    { data: 'prop_actuel_vehicule' },
                    { data: 'nom' },
                    { data: 'prenom' },
                    { data: 'num_nom_voie' },
                    { data: 'complement_adress' },
                    { data: 'code_postal' },
                    { data: 'ville' },
                    { data: 'tel_domicile' },
                    { data: 'tel_portable' },
                    { data: 'tel_job' },
                    { data: 'email' },
                    { data: 'date_mise_en_circ' },
                    { data: 'date_achat' },
                    { data: 'date_derniere_evenement' },
                    { data: 'libelle_marque' },
                    { data: 'libelle_modele' },
                    { data: 'version' },
                    { data: 'vin' },
                    { data: 'immatriculation' },
                    { data: 'type_prospect' },
                    { data: 'kilometrage' },
                    { data: 'libelle_energie' },
                    { data: 'vendeur_vn' },
                    { data: 'vendeur_vo' },
                    { data: 'commentaire_facturation' },
                    { data: 'type_vn_vo' },
                    { data: 'numero_dossier' },
                    { data: 'intermediaire_vente' },
                    { data: 'date_evenement' },
                    { data: 'origine_evenement' },
                    { render : function(row, data) {
                            return ""
                        }
                    }
                ],
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "createdCell": function (td, cellData, rowData, row, col){
                            $(td).html(`
                                <div class="list-btn-actions">
                                    <a href="/edit/client/${cellData.client_id}"  data-id="`+ cellData.client_id +`" data-nature="" class="btn btn-primary btn-xs edit_client">
                                        Modifier
                                    </a> 
                                    <a href="#" data-id="`+ cellData.client_id +`" class="delete_client btn btn-danger btn-xs">
                                        Supprimer
                                    </a>
                                </div>
                            `)
                        }
                    },
                ]
            });
            
        })
    </script>
{% endblock %}